.notes-main-content {
    display: flex;
    flex-direction: column;
}

.notes-save-button {
    background-color: var(--color-accent-blue) !important;
    color: white !important;
}

.e-richtexteditor {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
}

.e-rte-content {
    flex-grow: 1;
}

.e-dlg-overlay {
    background-color: transparent !important;
}

.e-dialog .e-dlg-content {
    padding-bottom: 0 !important;
}