.sidebar {
    background: var(--color-primary-800);
    width: var(--sidebar-width);
}

.sidebar-selected-item {
    background-color: var(--color-primary-900);
    transition: background-color 0.5s ease;
}

.sidebar-item-logo {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}