.club-edit-club-details {
    display: grid;
    grid-template-columns: 5em 1fr 5em 1fr;
}

.edit-club-details {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 0.5fr;
}
