.animated-btn .dx-icon {
    transition: all 0.3s ease;
    max-width: 0em;
    opacity: 0;
    margin-right: 0 !important;
    animation: spin 1s linear infinite;
}

.animated-btn.animated .dx-icon {
    max-width: 2em;
    margin-right: 9px !important;
    opacity: 1;
}
