body {
    color: #666
}

body,
.e-control {
    font-family: 'Nunito', sans-serif !important;
}

.root-content {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header"
                         "sidebar content";
    height: 100vh;
}

.navbar {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

/* Dev Extreme Overrides */
.dx-overlay-shader {
  background-color: rgba(0,0,0,.6) !important;
}

.dx-popup-content {
    padding: 16px !important;
}

@layer components {
 
    .button-sm .dx-button-content {
        @apply px-3 py-2 text-xs !important
    }

    .dx-popup-done.dx-button {
        @apply bg-secondary-500 text-white !important;

        /* #2f3d5c */
    }

    .dx-popup-done.dx-button:hover {
        background-color: #2f3d5c !important;
    }
    
    .dx-tag-content {
        @apply bg-secondary-100 rounded !important
    }
}