@import '../css/theme.css';

.root-content {
    display: grid;
    grid-template-columns: 12.5em 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header"
                         "sidebar content";
    height: 100vh;
}

.navbar {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}