.notes-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "opts filter"
                         "separator filter"
                         "list filter";
}

.notes-filter {
    grid-area: filter;
}

.notes-list-container {
    grid-area: list;
}

@layer components {

    .note-tag {
        @apply p-1.5 text-xs m-0 !important;
    }

    .notes-opts {
        grid-area: opts;
        @apply p-3;
    }
}