.notes-container {
    padding: 0.5em;
}

.notes-container .card {
    margin-bottom: 0.5em;
}

.notes-tag {
    color: rgb(33, 37, 41) !important
}

.filter-by-tag-label {
    height: 28px;
}

.notes-error-toast-background {
    background: var(--color-warning-500);
}