.notes-tag {
    color: rgb(33, 37, 41) !important
}

.notes-error-border {
    border: 1px solid #f44336;
}

.e-richtexteditor {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
}

.e-rte-content {
    flex-grow: 1;
}

.e-dialog .e-dlg-content {
    padding-bottom: 0 !important;
}