.notes-container {
    padding: 0.5em;
}

.notes-container .card {
    margin-bottom: 0.5em;
}

.notes-tag {
    color: rgb(33, 37, 41) !important
}

.notes-filter {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-grey-100);
}

.filter-by-tag-label {
    height: 28px;
}
