.notes-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "filter"
                         "list";
}

.notes-filter {
    grid-area: filter;
}

.notes-list-container {
    grid-area: list;
}

@layer components {

    .note-tag {
        @apply p-1.5 text-xs m-0 !important;
    }
}